doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Detail
  link(rel='shortcut icon' href='favicon.ico')
  // Google Webfonts
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  // Animate.css
  link(rel='stylesheet' href='css_detail/style.css')
  link(rel='stylesheet' href='css_detail/animate.css')
  // Icomoon Icon Fonts
  link(rel='stylesheet' href='css_detail/icomoon.css')
  // Magnific Popup
  link(rel='stylesheet' href='css_detail/magnific-popup.css')
  // Salvattore
  link(rel='stylesheet' href='css_detail/salvattore.css')
  // Theme Style
  // Modernizr JS
  script(src='js/modernizr-2.6.2.min.js')
  // FOR IE9 below
  //if lt IE 9
    script(src='js/respond.min.js')
#fh5co-offcanvass
  a.fh5co-offcanvass-close.js-fh5co-offcanvass-close(href='#')
    | Menu 
    i.icon-cross
  h1.fh5co-logo
    a.navbar-brand(href='index.html') Hydrogen

  ul
    li
      a(href='index.html') Home
    li.active
      a(href='about.html') About
    li
      a(href='pricing.html') Pricing
    li
      a(href='contact.html') Contact
  h3.fh5co-lead Connect with us
  p.fh5co-social-icons
    //-   i.icon-facebook
    //- a(href='#')
    //-   i.icon-instagram
    //- a(href='#')
header#fh5co-header(role='banner')
  .container
    .row
      .col-md-12
        a.fh5co-menu-btn.js-fh5co-menu-btn(href='#')
          | Menu 
          i.icon-menu
        a.navbar-brand(href='index.html') Hydrogen
// END .header
#fh5co-main
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 Personal Bio
        .fh5co-spacer.fh5co-spacer-sm
        p
          img.img-rounded.img-responsive(src='images/img_2.jpg' alt='Free HTML5 template by FREEHTML5.co')
        p
          | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
        p
          | The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn&rsquo;t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
      form(action='/delete' method='POST')
              button.btn.btn-danger(type='submit') Delete
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Magnific Popup
script(src='js/jquery.magnific-popup.min.js')
// Salvattore
script(src='js/salvattore.min.js')
// Main JS
script(src='js/main.js')
