html
  head
    title Login Form
    link(rel="stylesheet" href="/css/style.css")
    // Style-CSS
    link(rel="stylesheet" href="/css/font-awesome.css")
  .center-container
    // header
    .header-w3l
      h1 Login Form
    // //header
    .main-content-agile
      .sub-main-w3
        .wthree-pro
          h2 Login Quick
        form(action='/login' method='POST')
          .pom-agile
            input#email(placeholder='E-mail' name='email' type='email' required='')
            span.icon1
              i.fa.fa-user(aria-hidden='true')
          .pom-agile
            input#password(placeholder='Password' name='password' type='password' required='')
            span.icon2
              i.fa.fa-unlock(aria-hidden='true')
          .sub-w3l
            h6
              a(href='#') Forgot Password?
            .right-w3l
              input(type='submit' value='Login')
    // //main
    // footer
    .footer
      p
        | &copy; 2017 Online Login Form. All rights reserved | Design by 
    // //footer
