extends ../layout/main.pug

block content
    form#postArticle(method="post"  encType="multipart/form-data")
        .form-group
            label.form-label Title
            input#title.form-control(type='text' name='title' aria-describedby='emailHelp')
            #emailHelp.form-text We&apos;ll never share your email with anyone else.
        .form-group
            label Content
            textarea#content.form-control(rows='3' name='content')
        .form-group
            label Thumbnail
            input#file(type='file' name='file')
        img#previewImg(style="max-height: 250px" src="#", alt="")
        button#btn.btn.btn-primary(type='submit') Create



